version: "3.8"

services:
  users-service:
    build: ./service_a
    container_name: desafio4-users-service
    ports:
      - "5000:5000" 
    networks:
      - desafio4_network
    restart: always

  aggregator-service:
    build: ./service_b
    container_name: desafio4-aggregator-service
    depends_on:
      - users-service
    environment:
      SERVICE_A_URL: http://users-service:5000/usuarios
    ports:
      - "5001:5001"
    networks:
      - desafio4_network
    restart: always

networks:
  desafio4_network:
    driver: bridge
