services:
  web_server_d1:
    image: nginx:alpine
    container_name: desafio1_webserver
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - net-desafio1
    expose:
      - "8080"

  # Serviço cliente que realiza chamadas periódicas ao servidor
  requester_d1:
    image: alpine/curl
    container_name: desafio1_requester
    command: /bin/sh -c "while true; do echo 'Enviando chamada HTTP ao servidor...'; curl -s http://web_server_d1:8080; sleep 5; done"
    networks:
      - net-desafio1
    depends_on:
      - web_server_d1

networks:
  net-desafio1:
    driver: bridge
